---
import Layout from '../layouts/Layout.astro';
import PageHeading from '../components/PageHeading.astro';
import SectionLeft from '../components/SectionExpandLeft.astro';
import SectionRight from '../components/SectionExpandRight.astro';
import Section from '../components/Section.astro';
import FeedbackSection from '../components/FeedbackSection.astro';
import GridTwoColumns from '../components/GridTwoColumns.astro';
import GridTwoColumnsScrollspy from '../components/GridTwoColumnsScrollspy.astro';
import CardIcon from '../components/CardIcon.astro';
import CardPrice from '../components/CardPrice.astro';
import CardProcess from '../components/CardProcess.astro';
import CardFeedback from '../components/CardFeedback.astro';
import CardPhone from '../components/CardPhone.astro';
import ServiceCard from '../components/ServiceCard.astro';
import ButtonModal from '../components/ButtonModal.astro';
import FormContactHorisontal from '../components/FormContactHorisontal.astro';
import ImageParalax from '../components/ImageParalax.astro';
import CTA from '../components/CTA.astro';
import Process from '../components/Process.astro';
import { Picture } from 'astro:assets';
import headingImage from '../assets/img/ssss.jpg';
import { Image } from 'astro:assets';
import aboutImage from '../assets/img/Lishi.png';
import keyImage from '../assets/img/brokenkey-shadow.png';
import feedbackData from "../data/feedback.json";
import priceData from "../data/price.json";
import processData from "../data/workprocess.json";
import featuresData from "../data/features.json";
import contactData from "../data/contact.json";
import { getCollection } from 'astro:content';
const allServices = await getCollection('services');
---
<Layout title="Welcome to Astro.">
	<PageHeading title="Аварійне відкриття дверних, сейфових замків та автомобілів" subtitle="м. Київ 24/7">
		<Picture src={headingImage} formats={['webp']} alt="A description of my image." />
	</PageHeading>
	<!-- Форма сверху -->
	<SectionRight>
		<FormContactHorisontal />
	</SectionRight>
	<!-- Блок с услугами -->	
	<Section 
		secClass="uk-setion-default uk-padding-remove-bottom"
		contClass="uk-container-large">
			<!-- Заголовок секции -->
			<div class="uk-child-width-1-1" uk-grid>
				<div>					
					<h2 class="uk-h1 uk-width-2xlarge uk-margin-auto uk-text-center">Послуги UnlockZamok</h2>
					<div class="uk-text-lead uk-text-center uk-width-2xlarge uk-margin-medium-top uk-margin-auto">
						Сервіс аварійного відкриття допоможе Вам вирішити проблеми, які виникають із будь-якими замками: дверними, сейфовими або автомобільними. Втратили ключі або ж заклинив замок - звертайтеся, наші спеціалісти завжди прийдуть на допомогу!
					</div>				
				</div>
			</div>
			<!-- Динамический вывод услуг -->
			<div class="uk-child-width-1-3@m uk-margin-large-top" 
				 uk-grid 
				 uk-height-match="target: .uk-card-body"
				 uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-bottom-medium; delay: 200;">
				{
					allServices.map((service) =>
					<div>
						<ServiceCard 
							url={service.slug} 
							title={service.data.title} 
							imgPath={service.data.imgurl} 
							imgAlt={service.data.imgalt}
							price={service.data.price} 
							description={service.data.description} />
					</div> 
				)}
			</div>
		</div>
	</Section>
	<!-- Переваги роботи  -->
	<Section 
		secClass="uk-setion-default uk-padding-remove-bottom uk-section-large"
		contClass="uk-container-large">
		<GridTwoColumns 
			title="Забезпечуємо найкращий сервіс">
			<div slot="firstCol">
				<p>Проблеми із замками – це завжди несподівана та стресова ситуація. Ми це розуміємо, тому виконуємо нашу роботу швидко та якісно, ​​щоб ця проблема завдала Вам мінімум клопоту. Спроби самостійного відкриття замку можуть призвести до його пошкодження та погіршення ситуації.</p>
				<p>Коли Ви обираєте сервіс або майстра для аварійного відкриття дверей, сейфа або автомобіля, звертайте увагу на досвід та професіоналізм. Найчастіше недосвідчені фахівці можуть зіпсувати замок, пошкодити дверне полотно, сейф або автівку, що призведе до зайвих витрат. Ми не використовуємо травматичне обладнання та відкриваємо без пошкоджень. Довіртесь професіоналам UnlockZamok - лідеру на ринку аварійного відкриття!</p>
			</div>
			<ImageParalax imgSrc={aboutImage} imgAlt="Аварійне відкриття замків" slot="secondCol"/>
		</GridTwoColumns>
		<div class="uk-child-width-1-2@s uk-child-width-1-4@m uk-grid-small uk-margin-large-top" 
				 uk-grid 
				 uk-height-match="target: .uk-card"
				 uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-bottom-medium; delay: 200;">
				{
					featuresData.map((data) => {
						return (
							data.featuresMain.map((item) => (
								<div>
									<CardIcon 
										title = {item.title}
										image = {item.icon}
										text = {item.text}
									/>
								</div>
							))																					
						);
					})
				}		
			</div>
	</Section>	
	<!-- Блок c процесом работы -->
	<Process
    title="Як ми працюємо"
    text="Звертаємо вашу увагу, що ми надаємо послуги з аварійного відкриття дверей, машин та сейфів тільки в разі наявності документів, що підтверджують особу (паспорт або водійські права) та документів, що підтверджують право власності на об'єкт, договору оренди або довіреності."
    btnText="Викликати майстра"
    btnClass="uk-button-large uk-button-secondary"
    modalUrl="#contact-modal" />
	<!-- Блок с отзывами -->
	<FeedbackSection
		title="Відгуки наших клієнтів"
		text="Ми цінуємо думки наших клієнтів про якість сервісу аварійного відкриття. Будь ласка, поділіться Вашим досвідом."
		btnText="Написати відгук"
		btnClass="uk-button-large uk-button-secondary"
		modalUrl="#feedback-modal" />
	<!-- Блок с ценой услуг -->
	<Section 
		secClass="uk-section-muted uk-section-large"
		contClass="uk-container-large">
		<GridTwoColumnsScrollspy
			title="Ціни на послуги"
			btnText="Отримати консультацію"
			btnClass="uk-button-large uk-button-primary"
			modalUrl="#contact-modal"
			>
			<div slot="firstCol">
				<p>Звертаємо Вашу увагу, що при первинному зверненні клієнту оголошується орієнтовна вартість, яка далі уточнюється майстром, безпосередньо при його виїзді на місце.</p>
				<p>При аварійному відкриванні дверних або сейфових замків вартість залежить від складності та секретності замку, ступеню його пошкодження.</p>
				<p>При аварійному відкриванні машин вартість послуг залежить від марки та року випуску автівки.</p>
			</div>
			{
				priceData.map((price) => {
					return (
						price.priceDoor.map((item) => (
							<div>
								<CardPrice
									service={item.service}
									prefix={item.prefix}
									price={item.price}
									cur={item.cur}
								/>
							</div>
						))
					)
				})
			}
			{
				priceData.map((price) => {
					return (
						price.priceCar.map((item) => (
							<div>
								<CardPrice
									service={item.service}
									prefix={item.prefix}
									price={item.price}
									cur={item.cur}
								/>
							</div>
						))
					)
				})
			}
			{
				priceData.map((price) => {
					return (
						price.priceSafe.map((item) => (
							<div>
								<CardPrice
									service={item.service}
									prefix={item.prefix}
									price={item.price}
									cur={item.cur}
								/>
							</div>
						))
					)
				})
			}
			{
				priceData.map((price) => {
					return (
						price.priceCommon.map((item) => (
							<div>
								<CardPrice
									service={item.service}
									prefix={item.prefix}
									price={item.price}
									cur={item.cur}
								/>
							</div>
						))
					)
				})
			}
		</GridTwoColumnsScrollspy>
	</Section>
	<!-- Блок СТА -->
	<Section 
		secClass="uk-section-default uk-section-large">
		<CTA 
			imgSrc={keyImage}
			imgAlt="Аварійне відкриття"
			title="Зломався ключ або заклинив замок?"
			text="Звертайтеся до сервісу аваріного відкриття UnlockZamok. Наші кваліфіковані майстри допоможуть Вам навіть в найскладніших ситуаціях."
			btnText="Оформити заявку"
			btnClass="uk-button-large uk-button-secondary"
			modalUrl="#contact-modal"/>
	</Section>		
</Layout>
