---
import SectionLeft from '../components/SectionExpandLeft.astro';
import ButtonModal from '../components/ButtonModal.astro';
import CardProcess from '../components/CardProcess.astro';
import processData from "../data/workprocess.json";
const { title, text, btnText, btnClass, modalUrl } = Astro.props;
---
<SectionLeft>
    <div class="uk-child-width-1-2@m uk-margin-medium" uk-grid>
        <div>
            <h2 class="uk-h1">{title}</h2>
        </div>
        <div>
            <div class="uk-margin-medium">
                {text}
            </div>
            <div class="uk-text-center uk-text-right@s">
                <ButtonModal
                    btnText={btnText}
                    btnClass={btnClass}
                    modalUrl={modalUrl} />
            </div>						
        </div>
    </div>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l uk-grid-small uk-margin-large-top" 
         uk-grid 
         uk-height-match="target: .uk-tile"
         uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-bottom-small; delay: 100;">
        {
            processData.map((processData) => {
                return (
                <CardProcess 
                    number={ processData.number }
                    title={ processData.title }
                    text={ processData.text }
                />
                );
            })
        }			
        
    </div>
</SectionLeft>  